doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title One piece's crew

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 Luffy and Nakama
        img(src= "images/symbol.png" alt="symbol")

      section
        h2 Luffy
        img(src= "images/luffy.png" alt="luffy")
        h4 Monkey D. Luffy, also known as "Straw Hat Luffy" and commonly as "Straw Hat", is a pirate and the main protagonist of the anime and manga, One Piece. 

      section
        h2 Zoro
        img(src= "images/zoro.png" alt="zoro")
        h4 Roronoa Zoro, also known as "Pirate Hunter Zoro", is a pirate and a former bounty hunter.

      section
        h2 Nami
        img(src= "images/nami.png" alt="nami")
        h4 Nami is a young, normal-sized and slim girl, with orange hair and light brown eyes. Many people consider her to be very attractive or even beautiful.

      section
        h2 Usopp
        img(src= "images/usopp.png" alt="usopp")
        h4 Usopp is the sniper of the Straw Hat Pirates, and the former Captain of the Usopp Pirates. 

      section
        h2 Sanji
        img(src= "images/sanji.png" alt="sanji")
        h4 "Black Leg" Sanji is a pirate and the cook of the Straw Hat Pirates, and the former sous chef of Baratie. 

      section
        h2 Chopper
        img(src= "images/chopper.png" alt="chopper")
        h4 Tony Tony Chopper is the doctor of the Straw Hat Pirates. Chopper is a reindeer that ate a Devil Fruit called the Hito Hito no Mi. 

      section
        h2 Robin
        img(src= "images/robin.png" alt="robin")
        h4 Nico Robin, also known by her epithet "Devil Child" is the archaeologist of the Straw Hat Pirates. 

      section
        h2 Franky
        img(src= "images/franky.png" alt="franky")
        h4 Franky is the shipwright for the Straw Hat Pirates. A 36-year-old cyborg from Water 7, he was introduced in the story as the leader of the Franky Family, a group of ship dismantlers.

      section
        h2 Brook
        img(src= "images/brook.png" alt="brook")
        h4 Brook is the musician of the Straw Hat Pirates. He is a skeleton that the Straw Hats found on board of a ghost ship after drifting into the Florian Triangle.

    script(src='build/build.js')